body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  width: 200px;
  height: 200px;
}

.info {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.finance {
  display: flex;
}

.finance h3 {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}

.finance label {
  display: block;
  margin-top: 10px;
}

.finance input[type="text"] {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
}

.finance button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.finance button:hover {
  background-color: #555;
}

.finance ul {
  list-style-type: none;
  padding: 0;
}

.finance li {
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
}

.income,
.expenses {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  width: 50%;
}

.income {
  margin-right: 10px;
}
.income-table {
  display: flex;
  flex-direction: column;
}
.income-total {
  display: block;
}

.expense-table {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  gap: 5px;
}
